<header>
  <img class="logo-byb" src="../../../assets/icon/LogoB&B.png" />
  <h1>Gestion Recolectores</h1>
  <img class="menu-icon" src="../../../assets/icon/fa_menu.png" />
</header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="agregar-recolectores">
        <ion-label>Agregar</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="listar-recolectores">
        <ion-label>Listar</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
