<ion-header>
  <img class="logo-byb" src="../../../assets/icon/LogoB&B.png" />
  <ion-title mode="ios">Gestion Usuarios</ion-title>
  <app-menu-admin></app-menu-admin>
</ion-header>
<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="agregar-usuarios">
        <ion-label>Agregar</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="listar-usuarios">
        <ion-label>Listar</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
