ion-content {
  --padding-top: 1rem;
  --padding-bottom: 1rem;
  --padding-start: 1rem;
  --padding-end: 1rem;
  --ion-background-color: var(--ion-color-negroOscuro);
}

.separator {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
}

.separator .left-line {
  height: 1px;
  background-color: #fff;
  width: 40%;
}

.separator .right-line {
  height: 1px;
  background-color: #fff;
  width: 40%;
}

.separator-icon {
  width: 30px;
  height: 35px;
  width: 12%;
}

.menu-inicio {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  font-size: 14px;
}

.menu-inicio .menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.menu-inicio .menu-item__hour {
  padding: 1rem;
  width: 25%;
  background-color: var(--ion-color-negro);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 3px solid var(--ion-color-verdeClaro);
}

.menu-inicio .menu-item__text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
  padding: 0 2rem 0 1rem;
  background-color: var(--ion-color-negroOscuro);
}

.menu-inicio .menu-item__text .close-notification {
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
}

ion-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  padding: 1rem 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--ion-color-negro);
}

.menu-icon {
  width: 20px !important;
  height: 15px;
  cursor: pointer;
}

ion-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=notificaciones.page.css.map */