<ion-header>
    <img class="logo-byb" src="../../../assets/icon/LogoB&B.png" />
    <ion-title mode="ios">Notificaciones</ion-title>
    <div id="nav-icon5" (click)="abrirMenu()">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <ul id="dropdown1" class="dropdown">
        <li class="dropdown-img-container">
            <div class="dropdown-img">
                <img class="logo-byb" src="../../../assets/img/LogoB&B.png" />
            </div>
        </li>
        <li (click)="gotoConfirmar()">
            <img src="../../../assets/icon/fa_rutasw.png" alt="" />
            <a>Confirmar Recolección</a>
        </li>
        <li (click)="gotoNotifications()">
            <img src="../../../assets/icon/fa_bell.png" alt="" />
            <a (click)="gotoNotifications()">Revisar Notificaciones</a>
        </li>
        <li class="logout" (click)="logout()">
            <img class="" src="../../../assets/icon/fa_power-off.png
      " />
            <a>Cerrar Sesión</a>
        </li>
        <li class="version">Versión 1.0</li>
    </ul>
</ion-header>

<ion-content>
    <div class="menu-inicio">
        <span>24 de Marzo</span>
        <div class="menu-item">
            <div class="menu-item__hour">
                <span> 08:00</span>
            </div>
            <div class="menu-item__text">
                <img class="close-notification" src="../../../assets/icon/x.png" />
                <p>El camion recolector está en camino hacia tu dirección.</p>
            </div>
        </div>
        <div class="menu-item">
            <div class="menu-item__hour">
                <span> 08:00</span>
            </div>
            <div class="menu-item__text">
                <img class="close-notification" src="../../../assets/icon/x.png" />
                <p>El camion recolector está en camino hacia tu dirección.</p>
            </div>
        </div>
    </div>

    <div class="separator">
        <div class="left-line"></div>
        <img class="separator-icon" src="../../../assets/icon/LogoB&B.png" />
        <div class="right-line"></div>
    </div>

    <div class="menu-inicio">
        <span>25 de Marzo</span>
        <div class="menu-item">
            <div class="menu-item__hour">
                <span> 08:00</span>
            </div>
            <div class="menu-item__text">
                <img class="close-notification" src="../../../assets/icon/x.png" />
                <p>El camion recolector está en camino hacia tu dirección.</p>
            </div>
        </div>
        <div class="menu-item">
            <div class="menu-item__hour">
                <span> 08:00</span>
            </div>
            <div class="menu-item__text">
                <img class="close-notification" src="../../../assets/icon/x.png" />
                <p>El camion recolector está en camino hacia tu dirección.</p>
            </div>
        </div>
    </div>

    <div class="separator">
        <div class="left-line"></div>
        <img class="separator-icon" src="../../../assets/icon/LogoB&B.png" />
        <div class="right-line"></div>
    </div>

    <div class="menu-inicio">
        <span>26 de Marzo</span>
        <div class="menu-item">
            <div class="menu-item__hour">
                <span> 08:00</span>
            </div>
            <div class="menu-item__text">
                <img class="close-notification" src="../../../assets/icon/x.png" />
                <p>El camion recolector está en camino hacia tu dirección.</p>
            </div>
        </div>
        <div class="menu-item">
            <div class="menu-item__hour">
                <span> 08:00</span>
            </div>
            <div class="menu-item__text">
                <img class="close-notification" src="../../../assets/icon/x.png" />
                <p>El camion recolector está en camino hacia tu dirección.</p>
            </div>
        </div>
    </div>

</ion-content>