<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="menu-inicio">
    <span>24 de Marzo</span>
    <div class="menu-item">
      <div class="menu-item__hour">
        <span> 08:00</span>
      </div>
      <div class="menu-item__text">
        <img class="close-notification" src="../../../assets/icon/x.png" />
        <p>El camion recolector está en camino hacia tu dirección.</p>
      </div>
    </div>
    <div class="menu-item">
      <div class="menu-item__hour">
        <span> 08:00</span>
      </div>
      <div class="menu-item__text">
        <img class="close-notification" src="../../../assets/icon/x.png" />
        <p>El camion recolector está en camino hacia tu dirección.</p>
      </div>
    </div>
  </div>

  <div class="separator">
    <div class="left-line"></div>
    <img class="separator-icon" src="../../../assets/icon/LogoB&B.png" />
    <div class="right-line"></div>
  </div>

  <div class="menu-inicio">
    <span>25 de Marzo</span>
    <div class="menu-item">
      <div class="menu-item__hour">
        <span> 08:00</span>
      </div>
      <div class="menu-item__text">
        <img class="close-notification" src="../../../assets/icon/x.png" />
        <p>El camion recolector está en camino hacia tu dirección.</p>
      </div>
    </div>
    <div class="menu-item">
      <div class="menu-item__hour">
        <span> 08:00</span>
      </div>
      <div class="menu-item__text">
        <img class="close-notification" src="../../../assets/icon/x.png" />
        <p>El camion recolector está en camino hacia tu dirección.</p>
      </div>
    </div>
  </div>

  <div class="separator">
    <div class="left-line"></div>
    <img class="separator-icon" src="../../../assets/icon/LogoB&B.png" />
    <div class="right-line"></div>
  </div>

  <div class="menu-inicio">
    <span>26 de Marzo</span>
    <div class="menu-item">
      <div class="menu-item__hour">
        <span> 08:00</span>
      </div>
      <div class="menu-item__text">
        <img class="close-notification" src="../../../assets/icon/x.png" />
        <p>El camion recolector está en camino hacia tu dirección.</p>
      </div>
    </div>
    <div class="menu-item">
      <div class="menu-item__hour">
        <span> 08:00</span>
      </div>
      <div class="menu-item__text">
        <img class="close-notification" src="../../../assets/icon/x.png" />
        <p>El camion recolector está en camino hacia tu dirección.</p>
      </div>
    </div>
  </div>

</ion-content>
