<ion-content>
  <div class="form-item">
    <label for="">Camion a asignar</label>
    <ion-select>
      <ion-select-option></ion-select-option>
    </ion-select>
  </div>
  <div class="form-item">
    <label for="">Recolector a asignar</label>
    <ion-select>
      <ion-select-option></ion-select-option>
    </ion-select>
  </div>
  <div class="form-item">
    <label for="">Cliente a asignar</label>
    <ion-select>
      <ion-select-option></ion-select-option>
    </ion-select>
  </div>
  <div class="form-item">
    <label for="">Dirección</label>
    <input type="text" />
  </div>
  <div class="form-item">
    <label for="">Fecha</label>
    <input type="date" />
  </div>
  <div class="form-item">
    <label for="">Hora</label>
    <input type="string" />
  </div>
  <div class="form-item-button">
    <button>Agregar Ruta</button>
  </div>
</ion-content>
