<ion-header>
    <img class="logo-byb" src="../../../assets/icon/LogoB&B.png" />
    <ion-title mode="ios">Ingreso evidencias</ion-title>
    <img class="menu-icon" src="../../../assets/icon/fa_menu.png" />
</ion-header>

<ion-content>
    <p class="indicaciones">Por favor, adjunta imagenes y comentarios para poder analizar lo sucedido:</p>
    <span>Imagenes</span>
    <ion-button>
        <label for="file-upload">
              <button class="adjuntar">Seleccionar archivos..</button>
              </label>
        <input (change)="newImage($event)" id="file-upload" style="display: none" type="file" accept="image/*">
    </ion-button>


    <img [src]="evidencia.foto">


    <label for="comentarios">Comentarios:</label>
    <textarea [(ngModel)]="evidencia.comentario" class="comentarios" name="comentarios" rows="6" cols="33">
  
  </textarea>

    <button (click)="crearEvidencia()" class="enviar-evidencias">
    Ingresar Evidencias
  </button>

</ion-content>