<ion-header>
  <img class="logo-byb" src="../../../assets/icon/LogoB&B.png" />
  <ion-title mode="ios">Ingreso de evidencias</ion-title>
  <div id="nav-icon3" (click)="abrirMenu()">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <ul id="dropdown" class="dropdown">
    <li class="dropdown-img-container">
      <div class="dropdown-img">
        <img class="logo-byb" src="../../../assets/img/LogoB&B.png" />
      </div>
    </li>
    <li (click)="gotoConfirmar()">
      <img src="../../../assets/icon/fa_confirmarreco1g.png" alt="" />
      <a>Confirmar Recolección</a>
    </li>
    <li (click)="gotoNotifications()">
      <img src="../../../assets/icon/fa_bell.png" alt="" />
      <a (click)="gotoNotifications()">Revisar Notificaciones</a>
    </li>
    <li class="logout" (click)="logout()">
      <img
        class=""
        src="../../../assets/icon/fa_power-off.png
      "
      />
      <a>Cerrar Sesión</a>
    </li>
    <li class="version">Versión 1.0</li>
  </ul>
</ion-header>

<ion-content>
  <form [formGroup]="evidenciasForms">
    <p class="indicaciones">{{ cliente }}</p>
    <p class="indicaciones">
      Por favor, adjunta imagenes y comentarios para poder analizar lo sucedido:
    </p>
    <span class="adjuntarImg-title">Imagenes</span>
    <button class="adjuntarImg">
      <label for="file-upload">
        <img class="" src="../../../assets/icon/fa_attach.png" />

        Seleccionar archivos..
      </label>
      <input
        formControlName="foto"
        (change)="newImage($event)"
        id="file-upload"
        style="display: none"
        type="file"
        accept="image/*"
      />
    </button>
    <div *ngFor="let error of errorMessages.foto">
      <ng-container
        *ngIf="foto.hasError(error.type) && (foto.dirty || foto.touched)"
      >
        <small class="error-message">{{error.message}}</small>
      </ng-container>
    </div>
    <div class="imagen__container">
      <img class="imagen__adjuntada" [src]="evidencia.foto" />
    </div>

    <label for="comentarios">Comentarios:</label>
    <textarea
      formControlName="comentario"
      maxlength="200"
      [(ngModel)]="evidencia.comentario"
      class="comentarios"
      name="comentarios"
      rows="6"
      cols="33"
      minlength="50"
    >
    </textarea>
    <div *ngFor="let error of errorMessages.comentario">
      <ng-container
        *ngIf="comentario.hasError(error.type) && (comentario.dirty || comentario.touched)"
      >
        <small class="error-message">{{error.message}}</small>
      </ng-container>
    </div>

    <button
      type="submit"
      [disabled]="!evidenciasForms.valid"
      (click)="crearEvidencia()"
      class="enviar-evidencias"
    >
      <img class="lock-img" src="../../../assets/icon/fa_lockw.png" alt="" />
      <img class="check-img" src="../../../assets/icon/fa_check.png" alt="" />
      Ingresar Evidencias
    </button>
  </form>
</ion-content>
