<ion-header>
    <img class="logo-byb" src="../../../assets/icon/LogoB&B.png" />
    <ion-title mode="ios">Ingreso evidencias</ion-title>
    <img class="menu-icon" src="../../../assets/icon/fa_menu.png" />
</ion-header>

<ion-content>
    <form [formGroup]="evidenciasForms">
        <p class="indicaciones">Por favor, adjunta imagenes y comentarios para poder analizar lo sucedido:</p>
        <span>Imagenes</span>
        <ion-button>
            <label for="file-upload">
              <button class="adjuntar">Seleccionar archivos..</button>
              </label>
            <input formControlName="foto" (change)="newImage($event)" id="file-upload" style="display: none" type="file" accept="image/*">
        </ion-button>
        <div *ngFor="let error of errorMessages.foto">
            <ng-container *ngIf="foto.hasError(error.type) && (foto.dirty || foto.touched)">
                <small class="error-message">{{error.message}}</small>
            </ng-container>
        </div>
        <img [src]="evidencia.foto">


        <label for="comentarios">Comentarios:</label>
        <textarea formControlName="comentario" maxlength="200" [(ngModel)]="evidencia.comentario" class="comentarios" name="comentarios" rows="6" cols="33">
        </textarea>
        <div *ngFor="let error of errorMessages.comentario">
            <ng-container *ngIf="comentario.hasError(error.type) && (comentario.dirty || comentario.touched)">
                <small class="error-message">{{error.message}}</small>
            </ng-container>
        </div>

        <button type="submit" [disabled]="!evidenciasForms.valid" (click)="crearEvidencia()" class="enviar-evidencias">
    Ingresar Evidencias
  </button>
    </form>
</ion-content>