<ion-header>
  <img class="logo-byb" src="../../../assets/icon/LogoB&B.png" />
  <ion-title mode="ios">Inicio</ion-title>
  <div id="nav-icon3" (click)="abrirMenu()">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <ul id="dropdown" class="dropdown">
    <li class="dropdown-img-container">
      <div class="dropdown-img">
        <img class="logo-byb" src="../../../assets/img/LogoB&B.png" />
      </div>
    </li>
    <li (click)="agregarRutas()">
      <img src="../../../assets/icon/fa_gestionra.png" alt="" />
      <a>Gestión de Rutas</a>
    </li>
    <li (click)="agregarCamiones()">
      <img src="../../../assets/icon/fa_gestioncm.png" alt="" />
      <a>Gestión de Camiones</a>
    </li>
    <li (click)="agregarUsuarios()">
      <img src="../../../assets/icon/fa_usuariosv.png" alt="" />
      <a>Gestión de Usuarios</a>
    </li>
    <li (click)="seguimientoPlanillas()">
      <img src="../../../assets/icon/fa_seguimientob.png" alt="" />
      <a>Seguimiento de planillas de ruta</a>
    </li>

    <li class="logout" (click)="logout()">
      <img
        class=""
        src="../../../assets/icon/fa_power-off.png
      "
      />
      <a>Cerrar Sesión</a>
    </li>
    <li class="version">Versión 1.0</li>
  </ul>
</ion-header>

<ion-content>
  <ion-grid class="banner">
    <ion-row class="banner-top">
      <p class="msg-bienvenida">
        Bienvenido<br /><span>{{nombreUsuario}}</span>
      </p>
      <img class="" src="../../../assets/icon/fa_hand.png" />
    </ion-row>
    <ion-row class="banner-bottom">
      <img
        class="banner-bottom-icon"
        src="../../../assets/icon/fa_calendarw.png"
      />
      <p>{{ today | date: 'dd/MM/yyyy HH:mm' }}</p>
    </ion-row>
  </ion-grid>

  <div class="separator">
    <div class="left-line"></div>
    <img class="separator-icon" src="../../../assets/icon/LogoB&B.png" />
    <div class="right-line"></div>
  </div>

  <div class="menu-inicio">
    <div class="menu-item" (click)="agregarRutas()">
      <div class="menu-item__icon">
        <img class="" src="../../../assets/icon/fa_gestionr.png" />
      </div>
      <div class="menu-item__text">
        <p>
          Gestión de <br />
          Rutas
        </p>
      </div>
    </div>

    <div class="menu-item" (click)="agregarCamiones()">
      <div class="menu-item__icon">
        <img class="" src="../../../assets/icon/fa_gestionc.png" />
      </div>
      <div class="menu-item__text">
        <p>
          Gestión de <br />
          Camiones
        </p>
      </div>
    </div>
    <div class="menu-item" (click)="agregarUsuarios()">
      <div class="menu-item__icon">
        <img class="" src="../../../assets/icon/fa_usuarios.png" />
      </div>
      <div class="menu-item__text">
        <p>
          Gestión de <br />
          Usuarios
        </p>
      </div>
    </div>
    <div class="menu-item" (click)="seguimientoPlanillas()">
      <div class="menu-item__icon">
        <img class="" src="../../../assets/icon/fa_seguimiento2.png" />
      </div>
      <div class="menu-item__text">
        <p>
          Seguimiento de <br />
          planillas de ruta
        </p>
      </div>
    </div>
    <div class="logout">
      <button (click)="logout()">
        <img class="" src="../../../assets/icon/fa_logout.png" />
        Cerrar sesión
      </button>
    </div>
  </div>
</ion-content>
