<ion-header>
    <img class="logo-byb" src="../../../assets/icon/LogoB&B.png" />
    <ion-title mode="ios">Inicio</ion-title>
    <div class="nav-icon" (click)="abrirMenu()">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <ul class="dropdown">
        <li class="dropdown-img-container">
            <div class="dropdown-img">
                <img class="logo-byb" src="../../../assets/img/LogoB&B.png" />
            </div>
        </li>
        <li (click)="iralHome()">
            <img src="../../../assets/icon/fa_home.png" alt="" />
            <a>Inicio</a>
        </li>
        <li (click)="agregarRutas()">
            <img src="../../../assets/icon/fa_gestionra.png" alt="" />
            <a>Gestión de Rutas</a>
        </li>
        <li (click)="agregarCamiones()">
            <img src="../../../assets/icon/fa_gestioncm.png" alt="" />
            <a>Gestión de Camiones</a>
        </li>
        <li (click)="agregarUsuarios()">
            <img src="../../../assets/icon/fa_usuariosv.png" alt="" />
            <a>Gestión de Usuarios</a>
        </li>
        <li (click)="seguimientoPlanillas()">
            <img src="../../../assets/icon/fa_seguimientob.png" alt="" />
            <a>Seguimiento de planillas de ruta</a>
        </li>

        <li (click)="logout()">
            <img class="" src="../../../assets/icon/fa_power-off.png
      " />
            <a>Cerrar Sesión</a>
        </li>
        <li class="version">Versión 1.0</li>
    </ul>
</ion-header>

<ion-content>
    <ion-grid class="banner">
        <ion-row class="banner-top">
            <p class="msg-bienvenida">
                Bienvenido<br /><span>{{nombreUsuario}}</span>
            </p>
        </ion-row>
    </ion-grid>

    <div class="widgets">
        <div class="first-widget widgets__item">
            <div class="widgets__item-top">
                <div class="widget-icon">
                    <img class="banner-bottom-icon" src="../../../assets/icon/fa_calendarww.png" />
                </div>

                <span class="widget-title">Fecha de hoy</span>
            </div>
            <div class="widgets-text widgets-text2">
                <p>{{ today | date: 'dd/MM/yyyy HH:mm' }}</p>
            </div>
        </div>
        <div class="second-widget widgets__item">
            <div class="widgets__item-top">
                <div class="widget-icon">
                    <img class="banner-bottom-icon" src="../../../assets/icon/fa_usuarios.png" />
                </div>

                <span class="widget-title">Total de clientes</span>
            </div>
            <div class="widgets-text">
                <p>198 Clientes</p>
            </div>
        </div>
    </div>

    <div class="titulo-seccion">
        <p>Menú principal</p>
    </div>

    <div class="menu-inicio">
        <div class="menu-item" (click)="agregarRutas()">
            <div class="menu-item__icon">
                <img class="" src="../../../assets/icon/fa_gestionr.png" />
            </div>
            <div class="menu-item__text">
                <p>
                    Gestión de <br /> Rutas
                </p>
            </div>
        </div>

        <div class="menu-item" (click)="agregarCamiones()">
            <div class="menu-item__icon">
                <img class="" src="../../../assets/icon/fa_gestionc.png" />
            </div>
            <div class="menu-item__text">
                <p>
                    Gestión de <br /> Camiones
                </p>
            </div>
        </div>
        <div class="menu-item" (click)="agregarUsuarios()">
            <div class="menu-item__icon">
                <img class="" src="../../../assets/icon/fa_usuarios.png" />
            </div>
            <div class="menu-item__text">
                <p>
                    Gestión de <br /> Usuarios
                </p>
            </div>
        </div>
        <div class="menu-item" (click)="seguimientoPlanillas()">
            <div class="menu-item__icon">
                <img class="" src="../../../assets/icon/fa_seguimiento2.png" />
            </div>
            <div class="menu-item__text">
                <p>
                    Seguimiento de <br /> planillas de ruta
                </p>
            </div>
        </div>
    </div>
    <div class="logout">
        <button (click)="logout()">
      <img class="" src="../../../assets/icon/fa_logout.png" />
      Cerrar sesión
    </button>
    </div>
</ion-content>