<ion-header>
    <img class="logo-byb" src="../../../assets/icon/LogoB&B.png" />
    <ion-title>Seguimiento planillas</ion-title>
    <img class="menu-icon" src="../../../assets/icon/fa_menu.png" />
</ion-header>
<ion-content>
    <table class="" id="">
        <thead>
            <tr>
                <th scope="col">Hora</th>
                <th scope="col">Direccion</th>
                <th scope="col">Cliente</th>
                <th scope="col">Conductor</th>
                <th scope="col">
                    <div class="header-icon">
                        <img class="" src="../../../assets/icon/fa_list.png" />
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> 08:00 </td>
                <td> Lago Villarica 2451, Villa Alemana</td>
                <td> Jose Perez </td>
                <td>
                    Ernesto Diaz HTCS-63
                </td>
                <td class="seguimiento-actions">
                    <img class="" src="../../../assets/icon/fa_check.png" />
                </td>
            </tr>


            <tr>
                <td> 08:00 </td>
                <td> Lago Villarica 2451, Villa Alemana</td>
                <td> Jose Perez </td>
                <td>
                    Ernesto Diaz HTCS-63
                </td>
                <td class="seguimiento-actions">
                    <img class="" src="../../../assets/icon/fa_check.png" />
                </td>
            </tr>
            <tr>
                <td> 08:00 </td>
                <td> Lago Villarica 2451, Villa Alemana</td>
                <td> Jose Perez </td>
                <td>
                    Ernesto Diaz HTCS-63
                </td>
                <td class="seguimiento-actions">
                    <img class="" src="../../../assets/icon/fa_x.png" />
                    <img class="" src="../../../assets/icon/fa_eyeb.png" />
                </td>
            </tr>
            <tr>
                <td> 08:00 </td>
                <td> Lago Villarica 2451, Villa Alemana</td>
                <td> Jose Perez </td>
                <td>
                    Ernesto Diaz HTCS-63
                </td>
                <td class="seguimiento-actions">
                    <img class="" src="../../../assets/icon/fa_x.png" />
                </td>
            </tr>
            <tr>
                <td> 08:00 </td>
                <td> Lago Villarica 2451, Villa Alemana</td>
                <td> Jose Perez </td>
                <td>
                    Ernesto Diaz HTCS-63
                </td>
                <td class="seguimiento-actions">
                    <img class="" src="../../../assets/icon/fa_check.png" />
                </td>
            </tr>
            <tr>
                <td> 08:00 </td>
                <td> Lago Villarica 2451, Villa Alemana</td>
                <td> Jose Perez </td>
                <td>
                    Ernesto Diaz HTCS-63
                </td>
                <td class="seguimiento-actions">
                    <img class="" src="../../../assets/icon/fa_check.png" />
                </td>
            </tr>
        </tbody>
    </table>
</ion-content>