<ion-content>
    <div class="planillas__cta">
        <div class="planillas__date">
            <span>Seleccione una fecha: </span>
            <input (change)="SendDataonChange($event)" type="date" name="fechaElegida" [(ngModel)]="fechaElegida" />
            <img class="arrow-down" src="../../../assets/icon/fa_arrowdowng.png" />
        </div>
        <div class="planillas__download" (click)="limpiar()">
            <div class="wrapper">
                <img class="" src="../../../assets/icon/fa_list.png" />
                <span>Mostrar todas</span>
            </div>
        </div>
    </div>

    <ng-container *ngFor="let recoleccion of recoleccionExitosa">
        <table class="test" *ngIf="recoleccion.fecha === formatedDate">
            <tr>
                <th scope="col">Hora</th>
                <td>{{recoleccion.hora}}</td>
            </tr>
            <tr>
                <!-- CFecha -->
                <th scope="col">Fecha</th>
                <td>{{recoleccion.fecha}}</td>
            </tr>
            <tr>
                <th scope="col">Cliente</th>
                <td>{{recoleccion.cliente}}</td>
            </tr>
            <tr>
                <!-- Conductor + patente -->
                <th scope="col">Conductor</th>
                <td>{{recoleccion.recolector}} <br> {{recoleccion.camion}}</td>
            </tr>

            <tr>
                <th scope="col">Acciones</th>
                <td class="acciones">
                    <span class="fallida">
          <img class="" src="../../../assets/icon/fa_check.png" />
          R. Exitosa</span
        >
        <button class="evidencia boton-acciones">Descargar</button>
      </td>
    </tr>
  </table>
  </ng-container>
  <ng-container *ngIf="formatedDate === undefined">
    <table class="test" *ngFor="let recoleccion of recoleccionExitosa">
        <tr>
            <th scope="col">Hora</th>
            <td>{{recoleccion.hora}}</td>
        </tr>
        <tr>
            <!-- CFecha -->
            <th scope="col">Fecha</th>
            <td>{{recoleccion.fecha}}</td>
        </tr>
        <tr>
            <th scope="col">Cliente</th>
            <td>{{recoleccion.cliente}}</td>
        </tr>
        <tr>
            <!-- Conductor + patente -->
            <th scope="col">Conductor</th>
            <td>{{recoleccion.recolector}} <br> {{recoleccion.camion}}</td>
        </tr>

        <tr>
            <th scope="col">Acciones</th>
            <td class="acciones">
                <span class="fallida">
      <img class="" src="../../../assets/icon/fa_check.png" />
      R. Exitosa</span
    >
    <button class="evidencia boton-acciones">Descargar</button>
  </td>
</tr>
</table>
</ng-container>
  
</ion-content>