<ion-content>
    <form action="">
        <div class="form-item">
            <label for="">Patente</label>
            <input type="text">
        </div>
        <div class="form-item">
            <label for="">Marca</label>
            <input type="text">
        </div>
        <div class="form-item">
            <label for="">Modelo</label>
            <input type="text">
        </div>
        <div class="form-item">
            <label for="">Año</label>
            <input type="text">
        </div>
        <div class="form-item-button">
            <button (click)="getClientes()">Agregar camión</button>
        </div>
    </form>
</ion-content>