<ion-content>
    <table style="width: 100%" *ngFor="let ruta of data">
        <tr>
            <th scope="col">Hora</th>
            <td>{{ruta.hora}}</td>
        </tr>
        <tr>
            <th scope="col">Dirección</th>
            <td>{{ruta.direccion}}</td>
        </tr>
        <tr>
            <th scope="col">Comuna</th>
            <td>{{ruta.comuna}}</td>
        </tr>
        <tr>
            <th scope="col">Cliente</th>
            <td>{{ruta.clienteAsignado}}</td>
        </tr>
        <tr>
            <!-- Conductor + patente -->
            <th scope="col">Conductor</th>
            <td>{{ruta.recolectorAsignado}} <br> {{ruta.camionAsignado}}</td>
        </tr>
        <tr>
            <th scope="col">Acciones</th>
            <td class="acciones">
                <button (click)="eliminarRuta(ruta)" class="eliminar boton-acciones">
          Eliminar
        </button>
            </td>
        </tr>
    </table>
</ion-content>