form {
    padding: 1rem 2rem;
}

.form-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 1rem;
}

label {
    color: var(--ion-color-blanco)
}

input,
ion-select {
    background-color: #fff;
    padding: .425rem;
    color: var(--ion-color-negro) !important;
}

.form-item-button {
    display: flex;
    justify-content: flex-end;
}

button {
    background-color: var(--ion-color-verde);
    padding: 0.5rem 1.5rem;
    font-size: inherit;
}