<ion-content>
    <form [formGroup]="recolectoresForm">
        <div class="form-item">
            <label for="">Run</label>
            <input formControlName="run" [(ngModel)]="data.run" type="text" name="run" maxlength="12" />

            <div *ngFor="let error of errorMessages.run">
                <ng-container *ngIf="run.hasError(error.type) && (run.dirty || run.touched)">
                    <small class="error-message">
          <img src="../../../assets/icon/fa_errorform.png" alt="" />
          {{error.message}}</small
        >
      </ng-container>
    </div>
  </div>
    <div class="form-item">
      <label for="">Nombre</label>
      <input
        formControlName="nombre"
        [(ngModel)]="data.nombre"
        type="text"
        maxlength="50"
        name="nombre"
      />
    <div *ngFor="let error of errorMessages.nombre">
      <ng-container
        *ngIf="nombre.hasError(error.type) && (nombre.dirty || nombre.touched)"
      >
        <small class="error-message">
          <img src="../../../assets/icon/fa_errorform.png" alt="" />
          {{error.message}}</small
        >
      </ng-container>
    </div>
  </div>

    <div class="form-item">
      <label for="">Dirección</label>
      <input
        formControlName="direccion"
        [(ngModel)]="data.direccion"
        type="text"
        maxlength="50"
        name="direccion"
      />
    <div *ngFor="let error of errorMessages.direccion">
      <ng-container
        *ngIf="direccion.hasError(error.type) && (direccion.dirty || direccion.touched)"
      >
        <small class="error-message">
          <img src="../../../assets/icon/fa_errorform.png" alt="" />
          {{error.message}}</small
        >
      </ng-container>
    </div>
    <div class="form-item telefono">
      <label for="">Teléfono</label>
      <input
        formControlName="telefono"
        [(ngModel)]="data.telefono"
        type="tel"
        maxlength="8"
        name="telefono"
      />
    <div *ngFor="let error of errorMessages.telefono">
      <ng-container
        *ngIf="telefono.hasError(error.type) && (telefono.dirty || telefono.touched)"
      >
        <small class="error-message">
          <img src="../../../assets/icon/fa_errorform.png" alt="" />
          {{error.message}}</small
        >
      </ng-container>
    </div>
  </div>

    <div class="form-item">
      <label for="camiones">Camión designado</label>
      <ion-select
        formControlName="camionDesignado"
        [(ngModel)]="data.camionDesignado"
        name="camionDesignado"
      >
        <ion-select-option
          *ngFor="let camion of camiones"
          [value]="camion.patente"
          >{{camion.patente}}</ion-select-option
        >
      </ion-select>
    <div *ngFor="let error of errorMessages.camionDesignado">
      <ng-container
        *ngIf="camionDesignado.hasError(error.type) && (camionDesignado.dirty || camionDesignado.touched)"
      >
        <small class="error-message">
          <img src="../../../assets/icon/fa_errorform.png" alt="" />
          {{error.message}}</small
        >
      </ng-container>
    </div>
  </div>

    <div class="form-item-button">
      <button [disabled]="!recolectoresForm.valid" (click)="crearRecolector()">
        Agregar recolector
        <img class="lock-img" src="../../../assets/icon/fa_lockw.png" alt="" />
        <img class="check-img" src="../../../assets/icon/fa_check.png" alt="" />
      </button>
    </div>
  </form>
</ion-content>