<ion-content>
  <div class="form-item">
    <label for="">Run</label>
    <input [(ngModel)]="data.run" type="text" required />
  </div>
  <div class="form-item">
    <label for="">Nombre</label>
    <input [(ngModel)]="data.nombre" type="text" />
  </div>
  <div class="form-item">
    <label for="">Dirección</label>
    <input [(ngModel)]="data.direccion" type="text" />
  </div>
  <div class="form-item">
    <label for="">Teléfono</label>
    <input [(ngModel)]="data.telefono" type="text" />
  </div>
  <div class="form-item">
    <label for="">Nombre de usuario</label>
    <input [(ngModel)]="data.usuario" type="text" />
  </div>
  <div class="form-item">
    <label for="">Contraseña</label>
    <input [(ngModel)]="data.contrasena" type="password" />
  </div>
  <div class="form-item">
    <label for="">Tipo de plan</label>
    <ion-select [(ngModel)]="data.tipoplan">
      <ion-select-option>1 dia</ion-select-option>
      <ion-select-option>2 dias</ion-select-option>
    </ion-select>
  </div>
  <div class="form-button">
    <button (click)="crearCliente()">Agregar cliente</button>
  </div>

  <script>
    document.querySelector("#tipo-plan").getSelected();
  </script>
</ion-content>
