<ion-content>
<form action="">
  <div class="form-item">
    <label for="">Run</label>
    <input type="text" required>
  </div>
  <div class="form-item">
    <label for="">Nombre</label>
    <input type="text">
  </div>
  <div class="form-item">
    <label for="">Dirección</label>
    <input type="text">
  </div>
  <div class="form-item">
    <label for="">Teléfono</label>
    <input type="text">
  </div>
  <div class="form-item">
    <label for="">Nombre de usuario</label>
    <input type="text">
  </div>
  <div class="form-item">
    <label for="">Contraseña</label>
    <input type="password">
  </div>
  <div class="form-item">
    <label for="">Tipo de plan</label>
    <select name="" id="" form="">
      <option value="">1 Día</option>
      <option value="">2 Días</option>
    </select>
  </div>
  <div class="form-button">
    <button>
      Agregar cliente
    </button>
  </div>
  
  
</form>
</ion-content>
