$azulOscuro: #003b67;
$amarillo: #f0ad1b;
$white: #fff;
$black: #1a1a1a;
.splash-content {
  height: 100vh;
  position: relative;
  margin: 0 !important;
  padding: 0 !important;
  background-color: #1a1a1a;
}

.fade-in {
  animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  -webkit-animation: fade-out 0.5s ease-out 3.5s both;
  animation: fade-out 0.5s ease-out 3.5s both;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.splash-card {
  background-color: $black;
  height: 100%;
  padding: 0 !important;
  margin: 0 !important;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  &:before {
    position: absolute;
    content: "";
    background-image: url("../../../assets/img/login-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 58%;
    opacity: 0.38;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-blend-mode: screen;
  }

  .content-splash {
    margin-top: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  h1 {
    font-size: 2.5rem;
    color: #fff;
  }
  img {
    margin: 0 auto;
    width: 80px;
    max-width: 100%;
    height: auto;
  }
}

.scene {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
  }
}
