ion-content {
  --padding-top: 2rem;
  --padding-bottom: 2rem;
  --padding-start: 2rem;
  --padding-end: 2rem;
  --ion-background-color: var(--ion-color-negroOscuro);
}

ion-icon {
  padding-left: 5px;
}

.logo_container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  width: 110px;
  height: 150px;
}

ion-label,
.recuperar_contrasenna {
  color: var(--ion-color-blanco) !important;
}

.recuperar_contrasenna_link {
  margin-top: 5rem;
  margin-left: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

ion-label {
  font-size: 20px !important;
}

ion-footer {
  --ion-background-color: var(--ion-color-negroOscuro) !important;
}

p,
span {
  color: var(--ion-color-blanco);
  text-align: center;
  font-size: 14px;
}

ion-input {
  background-color: var(--ion-color-negro) !important;
  margin-top: 10px !important;
}

span {
  font-style: italic;
  margin-bottom: 5px;
}

.toolbar-footer {
  text-align: center;
  --background: var(--ion-color-negro) !important;
  color: #fff;
}

button {
  background-color: var(--ion-color-verde);
  padding: 0.5rem 1.5rem;
  font-size: inherit;
  margin-top: 1rem;
}

ion-item,
ion-col {
  --padding-bottom: 0;
  --padding-end: 0;
  --padding-start: 0;
  --padding-top: 0;
  --inner-padding-end: 0px;
}

.item-inner {
  --padding-bottom: 0;
  --padding-end: 0;
  --padding-start: 0;
  --padding-top: 0;
}
