<ion-content mode="md">
  <div class="login-img"></div>

  <div class="logo-container">
    <img class="" src="../../../assets/icon/LogoB&B_letras.png" />
  </div>

  <form>
    <div class="form-item">
      <label for="">Nombre de usuario</label>
      <input maxlength="50" name="nombreUsuario" type="text" required />
    </div>
    <div class="form-item">
      <label for="">Contraseña</label>
      <input maxlength="7" name="password" type="password" required />
    </div>
    <div class="form-item-button">
      <button>Iniciar sesión</button>
    </div>
  </form>
  <div class="recuperar-contrasena">
    <a href="" class="">¿Olvidaste tu contraseña?</a>
  </div>
</ion-content>

<ion-footer class="footer">
  <ion-toolbar class="toolbar-footer">
    <p class="footer-text">&copy; Todos los derechos reservados</p>
  </ion-toolbar>
</ion-footer>
