<ion-header>
  <ion-toolbar>
    <ion-title>Ingreso de Evidencias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="indicaciones">Por favor, adjunta imagenes y comentarios para poder analizar lo sucedido:</p>

  <span>Imagenes</span>
  <button class="adjuntar">Seleccionar archivos..</button>

  <label for="comentarios">Comentarios:</label>
  <textarea class="comentarios" name="comentarios" rows="6" cols="33">
  
  </textarea> 

  <button class="enviar-evidencias">
    Ingresar Evidencias
  </button>
</ion-content>

<ion-footer class="footer">
  <ion-toolbar class="toolbar-footer">
      <p>&copy; Todos los derechos reservados</p>
  </ion-toolbar>
</ion-footer>