ion-content {
  --padding-top: 1rem;
  --padding-bottom: 1rem;
  --padding-start: 1rem;
  --padding-end: 1rem;
  --ion-background-color: var(--ion-color-negroOscuro);
  --overflow: auto;
}

table {
  margin-bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

td {
  max-width: 278px;
}

table,
th,
td {
  border: 1px solid #fff;
  font-size: 12px;
  color: #fff;
  text-align: center;
}

th {
  background-color: var(--ion-color-verde);
  padding: 0.5rem 0.5rem;
  width: 100px;
  font-weight: inherit;
}

td {
  background-color: #1a1a1a;
  padding: 0.5rem 0.5rem;
}

.actions-top,
.actions-bottom {
  display: flex;
  gap: 5px;
}

.actions-bottom {
  margin-top: 5px;
}

.actions-icon {
  border-radius: 5px;
  padding: 5px;
  background-color: #fff;
}

.header-icon {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  padding: 1rem 1rem;
  align-items: center;
  background-color: var(--ion-color-negro);
}

.menu-icon {
  width: 20px !important;
  height: 15px;
  cursor: pointer;
}

ion-title {
  width: min-content;
}

form {
  padding: 1.5rem 2rem;
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 1rem;
}

label {
  color: var(--ion-color-blanco);
}

input,
select {
  background-color: #fff;
  padding: 0.425rem;
  color: var(--ion-color-negro) !important;
}

.form-item-button {
  display: flex;
  justify-content: flex-end;
}

button {
  background-color: #037bff;
  padding: 0.7rem 1.5rem;
  border-radius: 0.2rem;
  font-size: inherit;
}

.acciones {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
}

.boton-acciones {
  width: 120px;
  padding: 0.5rem 1rem;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.evidencia {
  background-color: #037bff;
}

.fallida {
  display: flex;
  gap: 10px;
  align-items: center;
}

.planillas__cta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  align-items: stretch;
}

.planillas__date {
  border-radius: 0.5rem;
  color: #fff;
  width: 50%;
  position: relative;
  span {
    font-size: 14px;
  }
  input {
    background-color: var(--ion-color-negro);
    color: #fff !important;
    border: none;
    position: relative;
    width: 156px;
    border: 1px solid #fff;
  }
  .arrow-down {
    position: absolute;
    top: 2.45rem;
    right: 2.6rem;
    z-index: 1;
  }
}

.planillas__download {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #fff;
  background: var(--ion-color-negro);
  height: 100% !important;
  margin-top: auto;
  .wrapper {
    display: flex;
    align-items: center;
    align-self: flex-end;
    gap: 10px;
  }
}

ng-container {
  position: relative;
}

.evidencia__container {
  height: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: -1;
}

.evidencia__container-img {
  display: none;
}

.evidencia__container.absolute {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: absolute;
  overflow-y: scroll;
  top: 15%;
  left: 0;
  min-height: 100%;
  width: 100%;
  background-color: hsla(0, 0%, 0%, 0.5);
  opacity: 1;
  z-index: 99;
  display: block;

  .evidencia__container-img {
    opacity: 1;
    margin: 3rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    background: var(--ion-color-negro);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: #fff;
    text-align: center;

    button {
      background: linear-gradient(
        90deg,
        rgba(143, 26, 26, 1) 0%,
        rgba(220, 53, 69, 1) 90%
      );
    }
  }

  .evidencia__close {
    position: absolute;
    top: 10%;
    left: 80%;
    z-index: 99;
    height: 20px;
    width: 20px;
  }
}

#modal-container {
  display: none;
}

.pantalla-modal {
  height: 0;
  opacity: 0;
  transition: opacity 2s ease-in-out;
  z-index: -1;
}

.pantalla-modal.modal-active__background {
  position: absolute;
  height: 110%;
  width: 100%;
  top: 0%;
  z-index: 1;
  left: 0;
  background-color: black;
  opacity: 0.6;
  backdrop-filter: blur(45px);
}

#modal-container {
  height: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: -1;
}

#modal-container.modal-active {
  height: fit-content;
  opacity: 1;
  display: block;
  margin: auto;
  position: absolute;
  top: 7%;
  left: 10%;
  z-index: 99;
  &.one {
    transform: scaleY(0.01) scaleX(0);
    animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    .modal-background {
      .modal {
        transform: scale(0);
        animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
      }
    }
    &.out {
      transform: scale(1);
      animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
      .modal-background {
        .modal {
          animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
        }
      }
    }
  }

  .modal-background {
    display: table-cell;
    background-color: #1a1a1a;
    border-radius: 1rem;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    .modal {
      display: inline-block;
      border-radius: 3px;
      font-weight: 300;
      position: relative;
      color: #fff;
      width: 300px;
      margin: 0 auto;
      padding: 1rem;

      h2 {
        font-size: 25px;
        line-height: 25px;
        margin-bottom: 15px;
      }

      button {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        background: linear-gradient(
          90deg,
          rgba(143, 26, 26, 1) 0%,
          rgba(220, 53, 69, 1) 90%
        );
        padding: 0.7rem 1.2rem;
        width: 90%;
      }

      p {
        font-size: 18px;
        line-height: 22px;
      }
      .modal-svg {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 3px;
        rect {
          stroke: #fff;
          stroke-width: 2px;
          stroke-dasharray: 778;
          stroke-dashoffset: 778;
        }
      }
    }
  }
}

.modal > * {
  z-index: 1;

  button {
    z-index: 99999 !important;
  }
}

.content {
  min-height: 100%;
  height: 100%;
  background: white;
  position: relative;
  z-index: 0;
  h1 {
    padding: 75px 0 30px 0;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
  }
  .buttons {
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    .button {
      display: inline-block;
      text-align: center;
      padding: 10px 15px;
      margin: 10px;
      background: red;
      font-size: 18px;
      background-color: #efefef;
      border-radius: 3px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      cursor: pointer;
      &:hover {
        color: white;
        background: #009bd5;
      }
    }
  }
}

@keyframes unfoldIn {
  0% {
    transform: scaleY(0.005) scaleX(0);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}

@keyframes unfoldOut {
  0% {
    transform: scaleY(1) scaleX(1);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(0.005) scaleX(0);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes fadeIn {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0.7);
  }
}

@keyframes fadeOut {
  0% {
    background: rgba(0, 0, 0, 0.7);
  }
  100% {
    background: rgba(0, 0, 0, 0);
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(0.8) translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
}

@keyframes scaleDown {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
  100% {
    transform: scale(0.8) translateY(1000px);
    opacity: 0;
  }
}

@keyframes scaleBack {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.85);
  }
}

@keyframes scaleForward {
  0% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes quickScaleDown {
  0% {
    transform: scale(1);
  }
  99.9% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes slideUpLarge {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes slideDownLarge {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(150px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes moveDown {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(150px);
  }
}

@keyframes blowUpContent {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  99.9% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(0);
  }
}

@keyframes blowUpContentTwo {
  0% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes blowUpModal {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes blowUpModalTwo {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes roadRunnerIn {
  0% {
    transform: translateX(-1500px) skewX(30deg) scaleX(1.3);
  }
  70% {
    transform: translateX(30px) skewX(0deg) scaleX(0.9);
  }
  100% {
    transform: translateX(0px) skewX(0deg) scaleX(1);
  }
}

@keyframes roadRunnerOut {
  0% {
    transform: translateX(0px) skewX(0deg) scaleX(1);
  }
  30% {
    transform: translateX(-30px) skewX(-5deg) scaleX(0.9);
  }
  100% {
    transform: translateX(1500px) skewX(30deg) scaleX(1.3);
  }
}

@keyframes sketchIn {
  0% {
    stroke-dashoffset: 778;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes sketchOut {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 778;
  }
}

@keyframes modalFadeIn {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: white;
  }
}

@keyframes modalFadeOut {
  0% {
    background-color: white;
  }
  100% {
    background-color: transparent;
  }
}

@keyframes modalContentFadeIn {
  0% {
    opacity: 0;
    top: -20px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes modalContentFadeOut {
  0% {
    opacity: 1;
    top: 0px;
  }
  100% {
    opacity: 0;
    top: -20px;
  }
}

@keyframes bondJamesBond {
  0% {
    transform: translateX(1000px);
  }
  80% {
    transform: translateX(0px);
    border-radius: 75px;
    height: 75px;
    width: 75px;
  }
  90% {
    border-radius: 3px;
    height: 182px;
    width: 247px;
  }
  100% {
    border-radius: 3px;
    height: 162px;
    width: 227px;
  }
}

@keyframes killShot {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(300px) rotate(45deg);
    opacity: 0;
  }
}

@keyframes fadeToRed {
  0% {
    background-color: rgba(black, 0.6);
  }
  100% {
    background-color: rgba(red, 0.8);
  }
}

@keyframes slowFade {
  0% {
    opacity: 1;
  }
  99.9% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
