<ion-content>
    <div class="planillas__cta">
        <div class="planillas__date">
            <span>Seleccione una fecha: </span>
            <input (change)="SendDataonChange($event)" type="date" name="fechaElegida" [(ngModel)]="fechaElegida" />
            <img class="arrow-down" src="../../../assets/icon/fa_arrowdowng.png" />
        </div>
        <div class="planillas__download" (click)="limpiar()">
            <div class="wrapper">
                <img class="" src="../../../assets/icon/fa_download.png" />
                <span>Mostrar todas</span>
            </div>
        </div>
    </div>
    <div class="planillas__download">
      <div class="wrapper">
        <img class="" src="../../../assets/icon/fa_download.png" />
        <span>Descargar</span>
      </div>
    </div>
  </div>

  <div class="mensaje-error" id="mensaje-error">
    <p>No existen evidencias en esta fecha.</p>
  </div>

    <ng-container *ngFor="let evidencia of evidencias">
        <table class="test" *ngIf="evidencia.fecha === formatedDate">
            <tr>
                <th scope="col ">Hora</th>
                <td>{{evidencia.hora}}</td>
            </tr>
            <tr>
                <th scope="col ">Fecha</th>
                <td>{{evidencia.fecha}}</td>
            </tr>
            <tr>
                <th scope="col ">Cliente / Dirección</th>
                <td>{{evidencia.clienteAsignado}}</td>
            </tr>
            <tr>
                <!-- Conductor + patente -->
                <th scope="col ">Conductor</th>
                <td>
                    {{evidencia.recolectorAsignado}} <br /> {{evidencia.camionAsignado}}
                </td>
            </tr>
            <tr>
                <!-- Comentario -->
                <th scope="col ">Comentario</th>
                <td>{{evidencia.comentario}}</td>
            </tr>
            <tr>
                <th scope="col ">Acciones</th>
                <td class="acciones ">
                    <span class="fallida ">
          <img class=" " src="../../../assets/icon/fa_x.png " />
          R. Fallida</span
        >
        <button class="evidencia boton-acciones">Ver detalles</button>
      </td>
    </tr>
  </table>
</ng-container>
<ng-container *ngIf="formatedDate === undefined">
  <table class="test " *ngFor="let evidencia of evidencias">
      <tr>
          <th scope="col ">Hora</th>
          <td>{{evidencia.hora}}</td>
      </tr>
      <tr>
          <th scope="col ">Fecha</th>
          <td>{{evidencia.fecha}}</td>
      </tr>
      <tr>
          <th scope="col ">Cliente / Dirección</th>
          <td>{{evidencia.clienteAsignado}}</td>
      </tr>
      <tr>
          <!-- Conductor + patente -->
          <th scope="col ">Conductor</th>
          <td>
              {{evidencia.recolectorAsignado}} <br /> {{evidencia.camionAsignado}}
          </td>
      </tr>
      <tr>
          <!-- Comentario -->
          <th scope="col ">Comentario</th>
          <td>{{evidencia.comentario}}</td>
      </tr>
      <tr>
          <th scope="col ">Acciones</th>
          <td class="acciones ">
              <span class="fallida ">
    <img class=" " src="../../../assets/icon/fa_x.png " />
    R. Fallida</span
  >
  <button class="evidencia boton-acciones ">Descargar</button>
</td>
</tr>
</table>
</ng-container>
</ion-content>
