<ion-header>
  <img class="logo-byb" src="../../../assets/icon/LogoB&B.png" />
  <ion-title>Seg. Evidencias</ion-title>
  <img class="menu-icon" src="../../../assets/icon/fa_menu.png" />
</ion-header>

<ion-content>
  <div class="form-item">
    <label for="">Hora</label>
    <input type="text" />
  </div>
  <div class="form-item">
    <label for="">Direccion</label>
    <input type="text" />
  </div>
  <div class="form-item">
    <label for="">Cliente</label>
    <input type="text" />
  </div>
  <div class="form-item">
    <label for="">Conductor</label>
    <input type="text" />
  </div>
  <div class="form-item">
    <label for="">Comentarios</label>
    <input type="text" />
  </div>
</ion-content>
