ion-content {
  --padding-top: 1rem;
  --padding-bottom: 1rem;
  --padding-start: 1rem;
  --padding-end: 1rem;
  --ion-background-color: var(--ion-color-negroOscuro);
  position: relative;
}

.separator {
  justify-content: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  .left-line {
    height: 1px;
    background-color: #fff;
    width: 40%;
  }
  .right-line {
    height: 1px;
    background-color: #fff;
    width: 40%;
  }
  &-icon {
    width: 40px;
    height: 40px;
  }
}

.menu-inicio {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  margin-top: 1rem;
  border-radius: 5px;
  .menu-item {
    display: flex;
    width: 300px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
      rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
      rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    &__icon {
      border-radius: 5px;
      padding: 1rem;
      background-color: var(--ion-color-verde);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30%;
      img {
        width: 40px;
        height: 40px;
      }
    }
    &__text {
      display: flex;
      width: 70%;
      align-items: center;
      padding: 0 1.5rem;
      background-color: var(--ion-color-negroOscuro);
      border-right: 5px solid var(--ion-color-verde);
      font-size: 1rem;
      border-radius: 5px;

      p {
        width: 100%;
      }
    }
  }
}

ion-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  padding: 1rem 1.6rem;
  align-items: center;
  background-color: #1a1a1a;
}

.menu-icon {
  width: 20px !important;
  height: 15px;
}

.banner {
  font-size: 14px;
  color: #fff;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  padding: 0 !important;
  border-radius: 10px;
}

.banner-top {
  border-radius: 10px;
  background-image: url("../../../assets/img/menu.jpg");
  background-size: cover;
  background-position: calc(95px - 100%) 70%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2.2rem;
  padding-right: 2rem;
  .msg-bienvenida {
    text-align: left;
  }
  .msg-bienvenida span {
    font-weight: 600;
    font-size: 20px;
  }
}

.banner-bottom {
  border-radius: 0 0 5px 5px;
  background-color: var(--ion-color-negro);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .banner-bottom-icon {
    width: 30px;
    height: 30px;
    margin-right: 20px;
  }
}

.logout button {
  margin-top: 6.6rem;
  padding: 0.6rem 2rem;
  width: 100%;
  border-radius: 5px;
  background: linear-gradient(
    90deg,
    rgba(143, 26, 26, 1) 0%,
    rgba(220, 53, 69, 1) 90%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  z-index: 99;
}

.logout::after {
  content: "";
  z-index: -1;
  position: absolute;
  left: 0;
  bottom: 0%;
  background-color: var(--ion-color-negro);
  width: 100%;
  height: 10%;
  border-radius: 50px 50px 0 0;
}

.logout img {
  width: 20px;
  height: 20px;
}

.msg-bienvenida {
  text-align: left;
}

.msg-bienvenida span {
  font-weight: 600;
  font-size: 20px;
}

.titulo-seccion {
  background: var(--ion-color-negro);
  width: 50%;
  padding: 0.2rem 0.5rem;
  border-radius: 2rem;
  color: #fff;
  margin: 0.9rem auto;
  text-align: center;

  p {
    margin: 0;
  }
}

// Widgets

.widgets {
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
  gap: 10px;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    background-color: var(--ion-color-negro);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    &-top {
      padding: 0.5rem;
      border-radius: 5px 5px 0 0;
      display: flex;
      gap: 10px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .widgets-text {
      background: linear-gradient(
        90deg,
        rgba(3, 123, 255, 1) 0%,
        rgba(0, 86, 255, 1) 90%
      );
      border-radius: 0 0 5px 5px;
      width: 100%;
      text-align: center;

      p {
        margin: 0.5rem;
      }
    }
  }

  .widget-title {
    padding: 0.5rem 1.2rem;
    background-color: var(--ion-color-negroOscuro);
    font-size: 12px;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
  }

  .widget-icon {
    padding: 1rem;
    background: linear-gradient(
      90deg,
      rgba(3, 123, 255, 1) 0%,
      rgba(0, 86, 255, 1) 90%
    );
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
}

.first-widget,
.second-widget {
  width: 50%;
}

.second-widget {
  .widgets-text,
  .widget-icon {
    background: linear-gradient(
      90deg,
      rgba(40, 14, 90, 1) 0%,
      rgba(110, 59, 208, 1) 90%
    );
  }
}
