<ion-header>
  <img class="logo-byb" src="../../../assets/icon/LogoB&B.png" />
  <ion-title mode="ios">Inicio</ion-title>
  <div class="nav-icon" (click)="abrirMenu()">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <ul class="dropdown" class="dropdown">
    <li class="dropdown-img-container">
      <div class="dropdown-img">
        <img class="logo-byb" src="../../../assets/img/LogoB&B.png" />
      </div>
    </li>
    <li (click)="gotoRutas()">
      <img src="../../../assets/icon/fa_rutasw.png" alt="" />
      <a (click)="gotoRutas()">Revisar Rutas</a>
    </li>
    <li (click)="logout()">
      <img
        class=""
        src="../../../assets/icon/fa_power-off.png
  "
      />
      <a (click)="logout()">Cerrar Sesión</a>
    </li>
    <li class="version">Versión 1.0</li>
  </ul>
</ion-header>

<ion-content>
  <ion-grid class="banner">
    <ion-row class="banner-top">
      <p class="msg-bienvenida">
        Bienvenido<br /><span>{{nombreUsuario}}</span>
      </p>
    </ion-row>
  </ion-grid>

  <div class="widgets">
    <div class="first-widget widgets__item">
      <div class="widgets__item-top">
        <div class="widget-icon">
          <img
            class="banner-bottom-icon"
            src="../../../assets/icon/fa_truckw.png"
          />
        </div>

        <span class="widget-title">Camion designado</span>
      </div>
      <div class="widgets-text widgets-text2">
        <p>{{patente}}</p>
      </div>
    </div>
    <div class="second-widget widgets__item">
      <div class="widgets__item-top">
        <div class="widget-icon">
          <img
            class="banner-bottom-icon"
            src="../../../assets/icon/fa_flag2.png"
          />
        </div>

        <span class="widget-title">Rutas completadas</span>
      </div>
      <div class="widgets-text">
        <p>20/30</p>
      </div>
    </div>
  </div>

  <div class="titulo-seccion">
    <p>Menú principal</p>
  </div>

  <div class="menu-inicio">
    <div class="menu-item" (click)="gotoRevisarRutas()">
      <div class="menu-item__icon">
        <img class="" src="../../../assets/icon/fa_rutasw.png" />
      </div>
      <div class="menu-item__text">
        <p>Revisar Rutas</p>
      </div>
    </div>
  </div>
  <div class="logout">
    <button (click)="logout()">
      <img class="" src="../../../assets/icon/fa_logout.png" />
      Cerrar sesión
    </button>
  </div>
</ion-content>
