ion-content {
  --padding-top: 1rem;
  --padding-bottom: 1rem;
  --padding-start: 1rem;
  --padding-end: 1rem;
  --ion-background-color: var(--ion-color-negroOscuro);
}

.separator {
  justify-content: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  .left-line {
    height: 1px;
    background-color: #fff;
    width: 40%;
  }
  .right-line {
    height: 1px;
    background-color: #fff;
    width: 40%;
  }
  &-icon {
    width: 40px;
    height: 40px;
  }
}

.menu-inicio {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
  margin-top: 1rem;
  .menu-item {
    display: flex;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
      rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
      rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    &__icon {
      padding: 1rem;
      width: 30%;
      background-color: var(--ion-color-verde);
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 40px;
        height: 40px;
      }
    }
    &__text {
      display: flex;
      align-items: center;
      width: 70%;
      padding-left: 1.5rem;
      background-color: var(--ion-color-negroOscuro);
      border-right: 3px solid var(--ion-color-verde);
    }
  }
}

#slider {
  overflow: hidden;
  height: 150px;
}

#slider figure {
  position: relative;
  height: 150px;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 50s slider infinite;
}

#slider figure img {
  float: left;
  width: 20%;
  height: 150px;
}

@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

.menu-item {
  cursor: pointer;
}

ion-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  padding: 1rem 1.6rem;
  align-items: center;
  background-color: #1a1a1a;
}

.menu-icon {
  width: 20px !important;
  height: 15px;
  cursor: pointer;
}

ion-title {
  display: flex;
  justify-content: center;
}

.welcome2 {
  font-size: 14px;
  color: #fff;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  padding: 0 !important;
  border-radius: 0 0 5px 5px;
}

.welcome2-top {
  border-radius: 5px 5px 0 0;
  background-image: url("../../../assets/img/hero-img.jpg");
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  padding-right: 2rem;
  .dashboard-avatar2 {
    position: relative;
    padding: 1rem;
    border-radius: 50%;
    border: 3px solid var(--ion-color-verde);
    background-color: #fff;
    width: 70px;
    height: 70px;
  }
}

.welcome-bottom2 {
  border-radius: 0 0 5px 5px;
  background-color: var(--ion-color-negro);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .location-icon2 {
    width: 30px;
    height: 30px;
    margin-right: 20px;
  }
}

.logout button {
  padding: 0.6rem 2rem;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(143, 26, 26, 1) 0%,
    rgba(220, 53, 69, 1) 90%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logout img {
  width: 20px;
  height: 20px;
}

.msg-bienvenida {
  text-align: left;
}

.msg-bienvenida span {
  font-weight: 600;
  font-size: 20px;
}

.titulo-seccion {
  background: linear-gradient(
    90deg,
    rgba(26, 143, 45, 1) 0%,
    rgba(24, 185, 47, 1) 90%
  );
  width: min-content;
  padding: 0.2rem 0.9rem;
  border-radius: 2rem;
  color: #fff;
  margin: 0.9rem auto;
}

.titulo-seccion p {
  margin: 0;
}

ion-card {
  width: 100%;
  height: 100%;
  box-shadow: none;
  border-radius: 12px;
  margin: 0 !important;

  img {
    border-radius: 12px;

    object-fit: cover;
    width: 100%;
    transform: scale(1.1, 1.1) rotate(1deg);
    transition: 2000ms all ease-in-out;
  }
}

.swiper-slide-active {
  transform: scale(1.05, 1.05);

  ion-card {
    img {
      transform: scale(1, 1);
    }
  }
}

.swiper-slide {
  transition: 400ms all ease-in-out;
}

ion-slides {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
}

#nav-icon3 {
  width: 28px;
  height: 30px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  z-index: 999;
}

#nav-icon3.open span {
  background: white;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(26, 143, 45, 1) 0%,
    rgba(24, 185, 47, 1) 90%
  );
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
#nav-icon3 span:nth-child(1) {
  top: 5px;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  top: 13px;
}

#nav-icon3 span:nth-child(4) {
  top: 21px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

ion-header {
  position: relative;
}

.dropdown {
  position: absolute;
  background-color: var(--ion-color-negro);
  top: -1rem;
  right: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: opacity 0.5s ease-in;
  opacity: 0;
  height: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;

  li {
    display: flex;
    gap: 20px;
    padding: 0 1.5rem;
  }

  li img {
    width: 25px;
    height: 25px;
  }
}

.dropdown.open {
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 99;
  opacity: 1;
  height: auto;
  padding: 0;
  border-top: none;

  li {
    display: flex;
    gap: 20px;
    padding: 0 1.5rem;
  }

  li img {
    width: 25px;
    height: 25px;
  }
}

ul {
  list-style-type: none;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

.dropdown-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 0;
  text-align: left;
  padding: 1.3rem !important;
  background: linear-gradient(
    90deg,
    rgba(26, 143, 45, 1) 0%,
    rgba(24, 185, 47, 1) 90%
  );

  h3 {
    margin: 0 !important;
  }
}

.dropdown button {
  margin-bottom: 1rem;
}
