<ion-header>
  <img class="logo-byb" src="../../../assets/icon/LogoB&B.png" />
  <ion-title mode="ios">Valoracion</ion-title>
  <div id="nav-icon3" (click)="abrirMenu()">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <ul id="dropdown" class="dropdown">
    <li class="dropdown-img-container">
      <div class="dropdown-img">
        <img class="logo-byb" src="../../../assets/img/LogoB&B.png" />
      </div>
    </li>
    <li (click)="gotoConfirmar()">
      <img src="../../../assets/icon/fa_confirmarreco1g.png" alt="" />
      <a href="#">Confirmar Recolección</a>
    </li>
    <li (click)="gotoNotifications()">
      <img src="../../../assets/icon/fa_bell.png" alt="" />
      <a>Revisar Notificaciones</a>
    </li>
    <li class="logout" (click)="logout()">
      <img
        class=""
        src="../../../assets/icon/fa_power-off.png
      "
      />
      <a>Cerrar Sesión</a>
    </li>
    <li class="version">Versión 1.0</li>
  </ul>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="parrafo__valoracion">
      <p>
        Gracias por confirmar que la recolección se efectuó. Te invitamos a
        evaluar como fué tu experiencia
      </p>
    </ion-row>

    <div class="estrellas">
      <div class="estrella-item1" (click)="rating1()">
        <img src="../../../assets/icon/fa_star.png" />
        <div class="estrella-fill1 hidden">
          <img src="../../../assets/icon/fa_fullstar.png" />
        </div>
      </div>
      <div class="estrella-item2" (click)="rating2()">
        <img src="../../../assets/icon/fa_star.png" />
        <div class="estrella-fill2 hidden">
          <img src="../../../assets/icon/fa_fullstar.png" />
        </div>
      </div>
      <div class="estrella-item3" (click)="rating3()">
        <img src="../../../assets/icon/fa_star.png" />
        <div class="estrella-fill3 hidden">
          <img src="../../../assets/icon/fa_fullstar.png" />
        </div>
      </div>
      <div class="estrella-item4" (click)="rating4()">
        <img src="../../../assets/icon/fa_star.png" />
        <div class="estrella-fill4 hidden">
          <img src="../../../assets/icon/fa_fullstar.png" />
        </div>
      </div>
      <div class="estrella-item5" (click)="rating5()">
        <img src="../../../assets/icon/fa_star.png" />
        <div class="estrella-fill5 hidden">
          <img src="../../../assets/icon/fa_fullstar.png" />
        </div>
      </div>
    </div>

    <ion-row class="parrafo__valoracion">
      <p>¿Tuviste algún problema? Comentanos qué sucedió:</p>
    </ion-row>
    <ion-item lines="none" class="ion-no-padding">
      <textarea color="blanco"></textarea>
    </ion-item>
    <button type="submit" color="verde" size="small" (click)="confirmacion()">
      Confirmar y terminar
    </button>
  </ion-grid>
</ion-content>
