<ion-header>
    <img class="logo-byb" src="../../../assets/icon/LogoB&B.png" />
    <ion-title mode="ios">Rutas</ion-title>
    <img class="menu-icon" src="../../../assets/icon/fa_menu.png" />
</ion-header>
<ion-content>
    <span class="number"></span>
    <ng-container *ngFor="let ruta of rutas">
        <table style="width: 100%" *ngIf="ruta.recolectorAsignado === nombreUsuario && (ruta.estado === 'no finalizado')">
            <tr>
                <th scope="col">
                    <img class="" src="../../../assets/icon/fa_hour.png" />
                </th>
                <td>{{ruta.hora}}</td>
            </tr>
            <tr>
                <th scope="col">
                    <img class="" src="../../../assets/icon/fa_cliente.png" />
                </th>
                <td>{{ruta.clienteAsignado}}</td>
            </tr>
            <tr>
                <th scope="col">
                    <img class="" src="../../../assets/icon/fa_locationw.png" />
                </th>
                <td>{{ruta.direccion}}</td>
            </tr>
            <tr>
                <th scope="col">Acciones</th>
                <td class="acciones">
                    <button class="editar boton-acciones">
          <img class="" src="../../../assets/icon/fa_maps.png" />
        </button>
                    <button class="eliminar boton-acciones" (click)="confirmarRecoleccion()">
          <img class="" src="../../../assets/icon/fa_check.png" />
        </button>
                    <button class="eliminar boton-acciones">
          <img class="" src="../../../assets/icon/fa_x.png" />
        </button>
                    <button class="eliminar boton-acciones">
          <img class="" src="../../../assets/icon/fa_bell.png" />
        </button>
                </td>
            </tr>
        </table>
    </ng-container>
</ion-content>