<ion-content>
    <table style="width: 100%" *ngFor="let recolector of data" class="" id="">
        <tr>
            <th scope="col">Run</th>
            <td>{{recolector.run}}</td>
        </tr>
        <tr>
            <th scope="col">Nombre</th>
            <td>{{recolector.nombre}}</td>
        </tr>
        <tr>
            <th scope="col">Dirección</th>
            <td>{{recolector.direccion}}</td>
        </tr>
        <tr>
            <th scope="col">Teléfono</th>
            <td>{{recolector.telefono}}</td>
        </tr>
        <tr>
            <th scope="col">Camion Designado</th>
            <td>{{recolector.camionDesignado}}</td>
        </tr>
        <tr>
            <th scope="col">Acciones</th>
            <td class="acciones">
                <button (click)="editarRecolector(recolector)" class="editar boton-acciones">
          Editar
        </button>
                <button (click)="eliminarRecolector(recolector)" class="eliminar boton-acciones">
          Eliminar
        </button>
            </td>
        </tr>
    </table>
    <ion-card>
        <form [formGroup]="recolectoresForm" *ngIf="recolector">
            <div class="form-item">
                <label for="">Run</label>
                <input formControlName="run" [(ngModel)]="recolector.run" type="text" />
            </div>
            <div *ngFor="let error of errorMessages.run">
                <ng-container *ngIf="run.hasError(error.type) && (run.dirty || run.touched)">
                    <small class="error-message">
                    <img src="../../../assets/icon/fa_errorform.png" alt="" />
                    {{error.message}}</small>
                </ng-container>
            </div>
            <div class="form-item">
                <label for="">Nombre</label>
                <input formControlName="nombre" [(ngModel)]="recolector.nombre" type="text" />
            </div>
            <div *ngFor="let error of errorMessages.nombre">
                <ng-container *ngIf="nombre.hasError(error.type) && (nombre.dirty || nombre.touched)">
                    <small class="error-message">
                  <img src="../../../assets/icon/fa_errorform.png" alt="" />
                  {{error.message}}</small
                >
              </ng-container>
            </div>
            <div class="form-item">
                <label for="">Direccion</label>
                <input formControlName="direccion" [(ngModel)]="recolector.direccion" type="text" />
            </div>
            <div *ngFor="let error of errorMessages.direccion">
              <ng-container
                *ngIf="direccion.hasError(error.type) && (direccion.dirty || direccion.touched)">
                <small class="error-message">
                  <img src="../../../assets/icon/fa_errorform.png" alt="" />
                  {{error.message}}</small>
                </ng-container>
            </div>
            <div class="form-item">
                <label for="">Teléfono</label>
                <input formControlName="telefono" [(ngModel)]="recolector.telefono" type="text" />
            </div>
            <div *ngFor="let error of errorMessages.telefono">
                <ng-container *ngIf="telefono.hasError(error.type) && (telefono.dirty || telefono.touched)">
                    <small class="error-message">
                  <img src="../../../assets/icon/fa_errorform.png" alt="" />
                  {{error.message}}</small>
                </ng-container>
            </div>
            <div class="form-item">
                <label for="camiones">Camión desginado</label>
                <ion-select formControlName="camionDesignado" [(ngModel)]="recolector.camionDesignado">
                    <ion-select-option *ngFor="let camion of camiones" [value]="camion.patente">{{camion.patente}}</ion-select-option>
                </ion-select>
            </div>
            <div *ngFor="let error of errorMessages.camionDesignado">
                <ng-container *ngIf="camionDesignado.hasError(error.type) && (camionDesignado.dirty || camionDesignado.touched)">
                    <small class="error-message">
                  <img src="../../../assets/icon/fa_errorform.png" alt="" />
                  {{error.message}}</small>
                </ng-container>
            </div>
            <div class="form-item-button">
                <button [disabled]="!recolectoresForm.valid" (click)="guardar('test')">
                Modificar recolector
                <img class="lock-img" src="../../../assets/icon/fa_lockw.png" alt="" />
                <img class="check-img" src="../../../assets/icon/fa_check.png" alt="" />
              </button>
            </div>
        </form>
    </ion-card>
</ion-content>