<ion-header>
  <img class="logo-byb" src="../../../assets/icon/LogoB&B.png" />
  <ion-title mode="ios">Confirmar recolección</ion-title>
  <div id="nav-icon3" (click)="abrirMenu()">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <ul id="dropdown" class="dropdown">
    <li class="dropdown-title">
      <h3>Menu cliente</h3>
    </li>
    <li>
      <img src="../../../assets/icon/fa_rutasw.png" alt="" />
      <a href="#">Confirmar Recolección</a>
    </li>
    <li>
      <img
        (click)="gotoNotifications()"
        src="../../../assets/icon/fa_bellw.png"
        alt=""
      />
      <a (click)="gotoNotifications()">Revisar Notificaciones</a>
    </li>
    <li class="logout">
      <button (click)="logout()">
        <img class="" src="../../../assets/icon/fa_logout.png" />
        Cerrar sesión
      </button>
    </li>
  </ul>
</ion-header>

<ion-content>
  <div class="textQR">
    <h2>Información de la recolecciónnnnnnn</h2>
    <div class="informacion-qr">
      <p class="datos-qr">{{qrData}}</p>
    </div>
    <div class="informacion-qr">
      <ion-input type="text" [(ngModel)]="encodeData"></ion-input>
      <button ion-button (click)="encodeText()">Encode Text</button>
    </div>
    <p>¿Los datos son correctos?</p>
    <div class="botones">
      <button (click)="cancelar()">No, son incorrectos</button>
      <button (click)="confirmacion()">Si, son correctos</button>
    </div>
  </div>
</ion-content>
