<ion-header>
  <img class="logo-byb" src="../../../assets/icon/LogoB&B.png" />
  <ion-title mode="ios">Confirmar recolección</ion-title>
  <div id="nav-icon4" (click)="abrirMenu()">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <ul id="dropdown2" class="dropdown">
    <li class="dropdown-img-container">
      <div class="dropdown-img">
        <img class="logo-byb" src="../../../assets/img/LogoB&B.png" />
      </div>
    </li>
    <li (click)="gotoConfirmar()">
      <img src="../../../assets/icon/fa_confirmarreco1g.png" alt="" />
      <a>Confirmar Recolección</a>
    </li>
    <li (click)="gotoNotifications()">
      <img src="../../../assets/icon/fa_bell.png" alt="" />
      <a>Revisar Notificaciones</a>
    </li>
    <li class="logout" (click)="logout()">
      <img
        class=""
        src="../../../assets/icon/fa_power-off.png
      "
      />
      <a>Cerrar Sesión</a>
    </li>
    <li class="version">Versión 1.0</li>
  </ul>
</ion-header>

<ion-content>
  <div class="pantalla-carga"></div>
  <div class="textQR">
    <h2>Información de la recolección</h2>
    <p>
      Por favor, revisa que Información a continuación esté con los datos
      correspondientes.
    </p>

    <table style="width: 100%">
      <tr>
        <th scope="col">Hora</th>
        <td>{{qrDataSplit1}}</td>
      </tr>
      <tr>
        <th scope="col">Fecha</th>
        <td>{{qrDataSplit6}}</td>
      </tr>
      <tr>
        <th scope="col">Cliente</th>
        <td>{{qrDataSplit2}}</td>
      </tr>
      <tr>
        <th scope="col">Dirección</th>
        <td>{{qrDataSplit3}}</td>
      </tr>
      <tr>
        <th scope="col">Recolector</th>
        <td>{{qrDataSplit4}}</td>
      </tr>
      <tr>
        <th scope="col">Camion</th>
        <td>{{qrDataSplit5}}</td>
      </tr>
    </table>

    <p>¿Los datos son correctos?</p>
    <div class="botones">
      <button (click)="cancelar()">Incorrectos</button>
      <button (click)="confirmacion()">Correctos</button>
    </div>
  </div>
</ion-content>
