<ion-header>
    <img class="logo-byb" src="../../../assets/icon/LogoB&B.png" />
    <ion-title mode="ios">Página no encontrada</ion-title>
    <app-menu-recolector></app-menu-recolector>
</ion-header>

<ion-content>
    <div class="notFound__content">
        <img src="./assets/img/underConstruction2.svg" alt="">
        <h2>Página en construcción</h2>
        <p>Estamos trabajando para que el mapa esté disponible a la brevedad, con el mejor diseño y estilo para ti. </p>
        <button (click)="turnBack()">Volver al dashboard</button>
    </div>
</ion-content>