<ion-header>
  <img class="logo-byb" src="../../../assets/icon/LogoB&B.png" />
  <ion-title mode="ios">Inicio</ion-title>
  <app-menu-cliente></app-menu-cliente>
</ion-header>

<ion-content>
  <ion-grid class="banner">
    <ion-row class="banner-top">
      <p class="msg-bienvenida">
        Bienvenido<br /><span>{{nombreUsuario}}</span>
      </p>
    </ion-row>
  </ion-grid>

  <ion-slides [options]="option" class="ion-margin-top">
    <ion-slide>
      <ion-card>
        <img src="../../../assets/img/slider1.png" alt="" />
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="../../../assets/img/slider1.png" alt="" />
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="../../../assets/img/slider1.png" alt="" />
      </ion-card>
    </ion-slide>
  </ion-slides>

  <div class="widgets">
    <div class="first-widget widgets__item">
      <div class="widgets__item-top">
        <div class="widget-icon">
          <img
            class="banner-bottom-icon"
            src="../../../assets/icon/fa_locationw2.png"
          />
        </div>

        <span class="widget-title">Tu dirección</span>
      </div>
      <div class="widgets-text widgets-text2">
        <p>{{direccion}}</p>
      </div>
    </div>
    <div class="second-widget widgets__item">
      <div class="widgets__item-top">
        <div class="widget-icon">
          <img
            class="banner-bottom-icon"
            src="../../../assets/icon/fa_calendarww.png"
          />
        </div>

        <span class="widget-title">Proxima recolección</span>
      </div>
      <div class="widgets-text">
        <p>2 dias restantes</p>
      </div>
    </div>
  </div>

  <div class="titulo-seccion">
    <p>Menú principal</p>
  </div>

  <div class="menu-inicio">
    <div class="menu-item">
      <div class="menu-item__icon">
        <img class="" src="../../../assets/icon/fa_confirmarreco1.png" />
      </div>
      <div (click)="lectorQr()" class="menu-item__text">
        <p>
          Confirmar <br />
          Recolección
        </p>
      </div>
    </div>
    <!-- <div class="menu-item" (click)="gotoNotifications()">
      <div class="menu-item__icon">
        <img class="" src="../../../assets/icon/fa_bellw.png" />
      </div>
      <div class="menu-item__text">
        <p>
          Revisar <br />
          Notificaciones
        </p>
      </div>
    </div> -->
    <div class="logout">
      <button (click)="logout()">
        <img class="" src="../../../assets/icon/fa_logout.png" />
        Cerrar sesión
      </button>
    </div>
  </div>
</ion-content>
