<ion-header>
    <img class="logo-byb" src="../../../assets/icon/LogoB&B.png" />
    <ion-title mode="ios">Inicio Cliente</ion-title>
    <img class="menu-icon" src="../../../assets/icon/fa_menu.png" />
</ion-header>

<ion-content>
    <ion-grid class="welcome">
        <ion-row class="welcome-top">
            <div class="dashboard-avatar">
                <img class="" src="../../../assets/icon/user-avatar.png" />
            </div>
            <p>Bienvenido<br>Juan Carlos Gomez</p>
        </ion-row>
        <ion-row class="welcome-bottom">
            <img class="location-icon" src="../../../assets/icon/location.png" />
            <p>Lago Villarica 2751, <br> Villa Alemana.</p>
        </ion-row>
    </ion-grid>

    <div id="slider">
        <figure>
            <img class="" src="../../../assets/img/slider1.png" />
            <img class="" src="../../../assets/img/slider1.png" />
            <img class="" src="../../../assets/img/slider1.png" />
            <img class="" src="../../../assets/img/slider1.png" />

        </figure>
    </div>

    <div class="separator">
        <div class="left-line"></div>
        <img class="separator-icon" src="../../../assets/icon/LogoB&B.png" />
        <div class="right-line"></div>
    </div>

    <div class="menu-inicio">
        <div class="menu-item" (click)="getClientes()">
            <div class="menu-item__icon">
                <img class="" src="../../../assets/icon/fa_recycle.png" />
            </div>
            <div class="menu-item__text">
                <p>Confirmar <br> Recolección</p>
            </div>
        </div>
        <div class="menu-item" (click)="gotoNotifications()">
            <div class="menu-item__icon">
                <img class="" src="../../../assets/icon/fa_bell-ring.png" />
            </div>
            <div class="menu-item__text">
                <p>Revisar <br> Notificaciones</p>
            </div>
        </div>
    </div>
</ion-content>